<div class="container py-1">
  <div class="card m-5">
    <h5 class="card-header">アドバイザー情報</h5>
    <div class="card-body">
      <% if current_adviser.image.present? %>
        <%= image_tag current_adviser.image.url, alt: 'アドバイザー画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
      <% else %>
        <% if current_adviser.gender == 'male' %>
          <%= image_tag '男性アドバイザー.png', alt: '男性アドバイザーの画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
        <% else %>
          <%= image_tag '女性アドバイザー.png', alt: '女性アドバイザーの画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
        <% end %>
      <% end %>
      <table class="adviser-table">
        <tr>
          <th class="item-name">ユーザー名</th>
          <td><%= current_adviser.name %></td>
        </tr>
        <tr>
          <th class="item-name">メールアドレス</th>
          <td><%= current_adviser.email %></td>
        </tr>
        <tr>
          <th class="item-name">職務経歴</th>
          <td><%= current_adviser.career %></td>
        </tr>
        <tr>
          <th class="item-name">ユーザーへのメッセージ</th>
          <td style="border-bottom: 1px solid #000000;"><%= current_adviser.message %></td>
        </tr>
      </table>
      <%= link_to "アカウント編集", edit_adviser_registration_path, class: "btn text-white btn-green me-3" %>
      <%= link_to "ログアウト", destroy_adviser_session_path, class: "btn text-white btn-green", method: :delete %>
    </div>
  </div>
  <div class="card m-5">
    <%= render 'layouts/mypage/common-person', title: '担当ユーザー', person: @adviser %>
  </div>
  <div class="card m-5">
    <h5 class="card-header">ユーザーごとの生活ログ</h5>
    <div class="card-body">
      <%= render partial: 'layouts/mypage/partner', collection: @adviser.partners %>
    </div>
  </div>
  <div class="card m-5">
    <h5 class="card-header">メッセージ通知</h5>
    <div class="card-body">
      たっくんさんから、メッセージが届いてます。
    </div>
  </div>
  <div class="card m-5">
    <h5 class="card-header">コンテンツ管理</h5>
    <div class="card-body">
      <div class="content-lists mb-3">
        <% @adviser.contents.each do |content| %>
          <ul class="list-group">
            <%= link_to edit_adviser_content_path(current_adviser.id, content.id), class: "list-group-item list-group-item-action list-selected" do %>
              <%= content.title %>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= link_to "コンテンツ登録", new_adviser_content_path(current_adviser), class: "btn text-white btn-green me-3" %>
    </div>
  </div>
</div>