<section class="life_log mb-5">
  <p class="mb-1"><%= life_log.created_at.year %>年<%= life_log.created_at.month %>月<%= life_log.created_at.mday %>日</p>
  1日どう過ごしたかを棒グラフで表示する(睡眠・食事・運動・仕事・学習・趣味)
  <%= image_tag 'ライフログのイメージ画像.png', alt: 'ライフログのイメージ画像', width: '800px', height: '400px' %>
  <div class="card float-start w-25">
    <div class="card-body px-2 py-2">
      <p class="card-text">日中の眠気</p>
    </div>
    <% case(life_log.sleepiness) %>
    <% when 1 then %>
      <%= image_tag 'face-tired-regular.svg', class: 'card-img-top my-2', alt: '眠気がひどい', width: '100px', height: '100px' %>
    <% when 2 then %>
      <%= image_tag 'face-meh-regular.svg', class: 'card-img-top my-2', alt: '眠気がひどくも良くもない', width: '100px', height: '100px' %>
    <% else %>
      <%= image_tag 'face-laugh-squint-regular.svg', class: 'card-img-top my-2', alt: '眠気が全くない', width: '100px', height: '100px' %>
    <% end %>
  </div>
  <div class="card float-start w-25">
    <div class="card-body px-2 py-2">
      <p class="card-text">今日の気分</p>
    </div>
    <% case(life_log.feeling) %>
    <% when 1 then %>
      <%= image_tag 'face-tired-regular.svg', class: 'card-img-top my-2', alt: '気分がとても悪い', width: '100px', height: '100px' %>
    <% when 2 then %>
      <%= image_tag 'face-frown-regular.svg', class: 'card-img-top my-2', alt: '気分が悪い', width: '100px', height: '100px' %>
    <% when 3 then %>
      <%= image_tag 'face-meh-regular.svg', class: 'card-img-top my-2', alt: '気分が悪くも良くもない', width: '100px', height: '100px' %>
    <% when 4 then %>
      <%= image_tag 'face-smile-regular.svg', class: 'card-img-top my-2', alt: '気分が良い', width: '100px', height: '100px' %>
    <% else %>
      <%= image_tag 'face-laugh-squint-regular.svg', class: 'card-img-top my-2', alt: '気分がとても良い', width: '100px', height: '100px' %>
    <% end %>
  </div>
  <div class="card float-start w-25">
    <div class="card-body px-2 py-2">
      <p class="card-text">お通じの状態</p>
    </div>
    <% case(life_log.feces) %>
    <% when 1 then %>
      <%= "出ていない" %>
    <% when 2 then %>
      <%= image_tag 'コロコロ便.jpg', class: 'card-img-top my-2', alt: 'コロコロ便', width: '100px', height: '100px' %>
    <% when 3 then %>
      <%= image_tag '硬い便.jpg', class: 'card-img-top my-2', alt: '硬い便', width: '100px', height: '100px' %>
    <% when 4 then %>
      <%= image_tag 'やや硬い便.jpg', class: 'card-img-top my-2', alt: 'やや硬い便', width: '100px', height: '100px' %>
    <% when 5 then %>
      <%= image_tag '普通便.jpg', class: 'card-img-top my-2', alt: '普通便', width: '100px', height: '100px' %>
    <% when 6 then %>
      <%= image_tag '柔らかい便.jpg', class: 'card-img-top my-2', alt: '柔らかい便', width: '100px', height: '100px' %>
    <% when 7 then %>
      <%= image_tag '泥状便.jpg', class: 'card-img-top my-2', alt: '泥状便', width: '100px', height: '100px' %>
    <% else %>
      <%= image_tag '水様便.jpg', class: 'card-img-top my-2', alt: '水様便', width: '100px', height: '100px' %>
    <% end %>
  </div>
  <div class="card float-start w-25">
    <div class="card-body px-2 py-2">
      <p class="card-text">食事について</p>
    </div>
    <%= life_log.foods %>
  </div>
</section>