<div class="container py-1">
  <div class="card m-5">
    <h5 class="card-header">ユーザー情報</h5>
    <div class="card-body">
      <% if current_user.image.present? %>
        <%= image_tag current_user.image.url, alt: 'ユーザー画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
      <% else %>
        <% if current_user.gender == 'male' %>
          <% if current_user.age >= 40 %>
            <%= image_tag '中高年の男性.jpg', alt: '中高年の男性の画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
          <% else %>
            <%= image_tag '男性.png', alt: '男性の画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
          <% end %>
        <% else %>
          <% if current_user.age >= 40 %>
            <%= image_tag '中高年の女性.png', alt: '中高年の女性の画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
          <% else %>
            <%= image_tag '女性.jpg', alt: '女性の画像', class: 'rounded-circle flex-shrink-0 mb-3 fit-cover inline-block', width: '100px', height: '100px' %>
          <% end %>
        <% end %>
      <% end %>
      <table class="user-table">
        <tr>
          <th class="item-name">ユーザー名</th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th class="item-name">メールアドレス</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th class="item-name">年齢</th>
          <td><%= current_user.age %></td>
        </tr>
        <tr>
          <th class="item-name">身長</th>
          <td><%= current_user.tall %></td>
        </tr>
        <tr>
          <th class="item-name">体重</th>
          <td style="border-bottom: 1px solid #000000;"><%= current_user.weight %></td>
        </tr>
      </table>
      <%= link_to "アカウント編集", edit_user_registration_path, class: "btn text-white btn-green me-3" %>
      <%= link_to "ログアウト", destroy_user_session_path, class: "btn text-white btn-green", method: :delete %>
    </div>
  </div>
  <div class="card m-5">
    <h5 class="card-header">あなたの目標</h5>
    <div class="card-body">
      <strong class="card-title"><%= current_user.goal %></strong>
    </div>
  </div>
  <div class="card m-5">
    <%= render 'layouts/mypage/common-person', title: '担当アドバイザー', person: @user %>
  </div>
  <div class="card m-5">
    <h5 class="card-header">生活ログの履歴</h5>
    <div class="card-body">
      <%= render partial: 'layouts/mypage/life_log', collection: @user.life_logs %>
    </div>
  </div>
  <div class="card m-5">
    <h5 class="card-header">メッセージ通知</h5>
    <div class="card-body">
      アドバイザーからの投稿はありません
    </div>
  </div>
</div>