<nav class="navbar navbar-light navbar-expand-md fixed-top bg-white" style="box-shadow: 0px 0px 20px 0px #bfc0da;">
  <div class="container">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <div><a href="/"><%= image_tag 'logo.png', class: 'img-fluid', alt: 'Healthnavi', width: '180px' %></a></div>
        <div class="d-flex align-items-center">
          <% if user_signed_in? || adviser_signed_in? %>
            <% if user_signed_in? %>
              <%= link_to "生活ログを投稿", "", class: "link text-decoration-none text-black me-3" %>
              <%= link_to "アドバイザーと相談", "", class: "link text-decoration-none text-black me-3" %>
              <%= link_to "マイページ", user_path(current_user), class: "link text-decoration-none text-black" %>
            <% end %>
            <% if adviser_signed_in? %>
              <%= link_to "ユーザーと相談", "", class: "link text-decoration-none text-black me-3" %>
              <%= link_to "マイページ", adviser_path(current_adviser), class: "link text-decoration-none text-black" %>
            <% end %>
          <% else %>
            <div class="dropdown me-3">
              <button class="btn btn-orange text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                ユーザーの方はこちら
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= link_to "ログイン", new_user_session_path, class: "link text-decoration-none text-black" %></li>
                <li><%= link_to "無料会員登録", new_user_registration_path, class: "link text-decoration-none text-black", style: "font-size: 14px;" %></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-blue text-white dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                アドバイザーの方はこちら
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><%= link_to "ログイン", new_adviser_session_path, class: "link text-decoration-none text-black" %></li>
                <li><%= link_to "無料会員登録", new_adviser_registration_path, class: "link text-decoration-none text-black", style: "font-size: 14px;" %></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>