<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center text-center">
      <div class="col-10 col-md-6 mt-5">
        <div class="col-12 text-center pb-2">
          <p class="w-lg-50 pt-3 fs-3 text-black">ユーザー登録</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-6">
      <%= form_with model: @user, url: user_registration_path, class: 'text-center mb-4', local: true do |f| %>
        <%= render 'layouts/validation-error', instance: @user %>
        <%= render 'layouts/profile/common-regist', f: f %>
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main px-1">性別<span class="ms-1 badge bg-primary">必須</span></p>
          <%= f.radio_button :gender, "male", checked: true %>
          <%= f.label :gender, '男性', value: "male" %>
          <%= f.radio_button :gender, "female" %>
          <%= f.label :gender, '女性', value: "female" %>
        </div>
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main"><%= f.label :age, "年齢", class: "px-1" %><span class="badge bg-primary">必須</span></p>
          <%= f.number_field :age, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3'%>
        </div>
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main"><%= f.label :tall, "身長", class: "px-1" %><span class="badge bg-secondary">任意</span></p>
          <%= f.number_field :tall, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <div class="div-title mb-4">
          <p class="title-p fw-bold text-main"><%= f.label :weight, "体重", class: "px-1" %><span class="badge bg-secondary">任意</span></p>
          <%= f.number_field :weight, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3' %>
        </div>
        <div class="div-title mb-4 mt-4">
          <p>
            <span class="title-p fw-bold text-main"><%= f.label :goal, "あなたの目標", class: "px-1" %></span><span class="badge bg-primary">必須</span><br>
            <span class="text-red">50文字以内で入力して下さい</span><br>
            <span class="text-red">マイページでいつでも確認できます</span>
          </p> 
          <%= f.text_area :goal, class: 'form-control py-md-3 rounded bg-white box-shadow mb-3', maxlength: 50, placeholder: "心身共に健康な毎日を送りたい！！" %>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <%= f.submit "新規登録", class: "btn rounded fw-bold text-white mt-3 px-4 py-3 fs-6 btn-green", data: { confirm: '上記の内容で登録します。よろしいですか？'} %>
        </div>
      <% end %>
    </div>
  </div>
</div>